.avisContainer {
  position: relative;
  display: grid;
  background-color: var(--yellow);
  min-height: 500px;
  grid-row: 6;
}
.rearLayer {
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100%;
}
.rearLayer h3 {
  align-self: center;
  justify-self: end;
  margin-right: 30px;
  font-size: 12rem;
  color: rgba(255, 255, 255, 0.507);
}
.frontLayer {
  display: grid;
  grid-template-columns: 380px auto 380px;
  width: 100%;
  height: 100%;
}
.avisText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  font-size: 2.5rem;
  z-index: 2;
  text-align: center;
  color: var(--blue);
  height: 100%;
}
.info {
  margin-top: 30px;
  font-size: 2rem;
}
.quoteMark {
  font-weight: 800;
}
.info p:nth-child(1) {
  font-weight: 600;
}

.directionBtnsWrapper {
  grid-column: 3;
  align-self: end;
  justify-self: end;
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 30px;
  margin: 100px;
}
.directionBtn {
  background-color: var(--white);
}

@media (max-width: 1300px) {
  .avisContainer {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding: 20px;
  }
  .rearLayer {
    grid-template-columns: 100%;
  }
  .rearLayer h3 {
    justify-self: center;
  }
  .frontLayer {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .avisText {
    grid-column: 1;
    grid-row: 1;
    font-size: 2rem;
    width: 80%;
    justify-self: center;
  }
  .info {
    font-size: 1.5rem;
  }
  .directionBtnsWrapper {
    grid-column: 1;
    justify-self: center;
    grid-template-columns: 50px 50px;
    gap: 30px;
    margin: 0;
    margin-top: 50px;
  }
}

@media (max-width: 700px) {
  .rearLayer h3 {
    font-size: 8rem;
  }
  .avisText {
    font-size: 2rem;
  }
  .info {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .rearLayer h3 {
    font-size: 5rem;
  }
  .avisText {
    font-size: 1.5rem;
  }
  .info {
    font-size: 1rem;
  }
}
