.landingContainer {
  width: 100%;
  height: 100%;
  grid-row: 1;
}
.imageLayer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  background: linear-gradient(#000000, #ffffff2f), url('/images/HomePage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 40px 50px;
}

.topRow {
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5));
  grid-template-rows: 100px;
  left: 0;
  width: 100%;
  align-items: center;
}
.btnLinkGroup {
  display: grid;
  grid-template-columns: 200px 130px 200px;
  grid-column: 1 / span 2;
}
.topRowLogo {
  justify-self: center;
  height: 40px;
  width: auto;
}
.yellowBtn {
  background-color: var(--yellow);
  color: var(--blue);
}
.topRowLink {
  color: var(--white);
  margin-left: 20px;
}
.topRowProfileBtn {
  justify-self: end;
  grid-column: 5;
}
.headerContainer {
  width: 100%;
}
.headerContainer h1 {
  font-size: 4rem;
  color: var(--white);
  width: 60%;
  margin-bottom: 10px;
}
.subHeader {
  font-size: 1.3rem;
  color: var(--white);
  width: 50%;
  margin-bottom: 20px;
}
.chatBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 50px;
  background-color: var(--blue);
  align-self: end;
  justify-self: end;
  border-radius: 13px;
}

@media (max-width: 1300px) {
  .topRow {
    grid-template-rows: repeat(3, 100px);
  }
  .btnLinkGroup {
    grid-column: 1 / span 5;
    grid-row: 2;
  }
  .topRowLink {
    font-size: 0.9rem;
  }
  .topRowProfileBtn {
    grid-column: 5;
  }
  .topRowLogo {
    grid-column: 3 / span 1;
  }
  .headerContainer h1 {
    font-size: 3rem;
  }
  .subHeader {
    font-size: 1rem;
    color: var(--white);
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .headerContainer h1 {
    font-size: 2rem;
  }
  .subHeader {
    font-size: 0.9rem;
    color: var(--white);
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .imageLayer {
    grid-template-rows: auto auto auto;
    padding: 40px 20px;
  }
  .topRow {
    grid-template-rows: 100px 100px 50px;
  }
  .btnLinkGroup {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 30px);
    grid-column: 1 / span 5;
    grid-row: 2;
  }
  .linkGroupBtn {
    width: 200px;
    font-size: 0.6rem;
    align-self: center;
    justify-self: center;
    margin: 0;
    margin-bottom: 10px;
    height: 35px;
  }
  .topRowLink {
    align-self: center;
    justify-self: center;
    font-size: 0.7rem;
    margin: 0;
    margin-top: 10px;
  }
  .topRowProfileBtn {
    grid-column: 5;
    grid-row: 3;
  }
  .topRowLogo {
    grid-column: 3 / span 1;
  }
  .headerContainer h1 {
    font-size: 2rem;
    width: 100%;
    margin-top: 20px;
  }
  .subHeader {
    font-size: 0.9rem;
    width: 100%;
  }
  .mainBtn {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }
}
