.couturiersContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: var(--blue);
  grid-row: 4;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  width: 430px;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}
.header {
  font-size: 3.5rem;
  text-align: center;
}
.subHeader {
  font-size: 3.5rem;
  text-align: center;
}
.btn {
  margin-top: 30px;
}
.couturiersImagesContainer {
  display: grid;
  grid-template-columns: 50% 25%;
  grid-template-rows: 100%;
  align-items: center;
}
.scrollDiv {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 500px;
}
.scrollSign {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
}
.scrollText {
  margin-left: 10px;
  letter-spacing: 2px;
}

@media (max-width: 1300px) {
  .couturiersContainer {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding: 20px;
  }
  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .couturiersImagesContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    align-items: center;
    justify-self: center;
    gap: 100px;
  }
  .image {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 700px) {
  .couturiersContainer {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    padding: 30px;
  }
  .couturiersImagesContainer {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 40px;
  }
  .scrollSign {
    grid-row: 1;
  }
  .header {
    font-size: 1rem;
    text-align: center;
  }
  .subHeader {
    font-size: 1rem;
    text-align: center;
  }
  .btn {
    width: 200px;
    font-size: 0.7rem;
  }
  .image {
    width: 100%;
    height: auto;
  }
}
