.button {
  --radius-position: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  overflow: hidden;
}
.button:hover {
  --radius-position: 0px;
}
.button p {
  z-index: 9999;
}
.radius {
  position: absolute;
  width: 100%;
  height: 300px;
  border-radius: 50%;
  transform: translateY(var(--radius-position));
  background-color: var(--white);
  transition: transform 0.2s ease-in;
}
