.mainContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh repeat(6, auto) 600px;
}
@media (max-height: 700px) {
  .mainContainer {
    grid-template-rows: repeat(7, auto) 600px;
  }
}
