@import './theme.css';
@import './typography.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--main-font);
}
a {
  text-decoration: none;
  color: black;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
